<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset request</title>
  </head>
  <body>
    <h1>Hello <%= username %>!</h1>
    <p>Here is your reset password otp: <%= token %></p>
    <p>The Token expires in 30 minutes</p>
    <p>If you did not request for a password reset you can ignore this email</p>
    <p>Do not share the code with anyone</p>
    <p>Regards</p>
  </body>
</html>
